input {
	width: 100%;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: rgb(199, 142, 142);
	min-height: 100vh;
	min-width: 100%;
	align-items: center;
}

.pokemon-search,
.pokemon-results {
	min-width: 100%;
	border: 2px solid black;
}

.pokemon-search {
	background-color: red;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	border-bottom: none;
	min-width: 80%;
}

.input-container {
	/* border: 2px solid black; */
	padding: 1rem;
	margin-inline: auto;
}


.pokemon-search input,
.pokemon-search__icon {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 10px;
}

.pokemon-search input {
	max-width: 40vmin;
	height: 30px;
	border: 0;
}


.pokemon-search__icon {
	background-color: white;
	padding-top: 4px;
	padding-bottom: 5px;
}


.pokemon-results {
	background-color: blueviolet;
	border-top: none;
	display: flex;
	flex-direction: column;
}

.grid-container {
	background-color: rgb(35, 49, 182);
	border: 2px solid black;
	flex-basis: auto;
}

/* "Emtpy pokemon search results slots/faded out pokeball background when no results  */
/* TEST */
.pokemon-results__grid {
	background-color: bisque;
	padding: 2rem;
	padding-bottom: 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	height: 100%;

}

.pokemon-results__buttons {
	margin-top: 1rem;
	display: flex;
	background-color: antiquewhite;
	justify-content: space-between;
	min-width: 100%;
	position: absolute;
	bottom: 0;
}

.pokemon-results__buttons button {
	padding: 1rem;
}