input {
	width: 100%;
}

.browse-pokemon-container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--colour-offwhite);
	min-height: 100vh;
	min-width: 100%;
	align-items: center;
}

.pokemon-search,
.pokemon-results {
	min-width: 100%;
}

.pokemon-search {
	min-width: 80%;
	padding: 1rem;
	margin-inline: auto;
}

.input-container {
	border-radius: 1.5rem;
	padding: 0.5rem;
	box-shadow: 0px 0px 5px black;
	outline: 1px solid white;
	background: linear-gradient(191deg, rgba(71, 131, 123, 1) 0%, rgba(117, 203, 154, 1) 47%);

}


.pokemon-search input,
.pokemon-search__icon {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 10px;
}

.pokemon-search input {
	max-width: 40vmin;
	height: 30px;
	border: 1px solid white;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-right: none;

}


.pokemon-search__icon {
	background-color: white;
	padding-top: 4px;
	padding-bottom: 5px;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border: 1px solid white;
	border-left: none;
}


.pokemon-results {
	background-color: var(--colour-offwhite);
	border-top: none;
	display: flex;
	flex-direction: column;
}

.grid-container {

	border: 2px solid black;
	flex-basis: auto;
}

/* "Emtpy pokemon search results slots/faded out pokeball background when no results  */
/* TEST */
.pokemon-results__grid {

	padding: 2rem;
	padding-bottom: 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	height: 100%;

}



.pokemon-results__buttons button {
	padding: 1rem;
}