.pagination-container {
	width: 100%;
	bottom: 0;
	position: absolute;
	display: flex;
	padding: 1rem;
	justify-content: space-evenly;
	margin-inline: auto;
	outline: 2px solid var(--colour-grad-light);
	outline-offset: -6px;
	border-radius: 1.5rem;
	list-style: none;
	align-self: flex-end;
}


.pagination-container a {
	font-family: "Lato";
	padding: 0.2rem 0.5rem;
	padding-top: 0rem;
	border-radius: 1rem;
	cursor: pointer;
}

.pagination-container a:active {}

.pagination-prev,
.pagination-next {
	color: white;

	background-color: var(--colour-grad-light);
}


.pagination-active a {
	color: white;
	font-weight: 600;
	background-color: var(--colour-grad-light);
}

.pagination-disabled {
	color: gray;
	cursor: none;
}