.pokemon-team-container {
	position: relative;
	min-height: 100vh;
	min-width: 100%;
	align-items: center;
	border-radius: 1rem;
	border: 1px solid var(--colour-offwhite);
}


.team-view-info-section {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	border-radius: 11px;
	position: relative;
	max-width: 100%;
	padding: 0rem 1rem;
}

.teamview-info-bottom {
	color: var(--color-item-darkblue);
	padding: 2rem;
	text-align: left;
	background-color: var(--colour-offwhite);
	box-shadow: 1px 1px 5px black;
	border-bottom-right-radius: 2rem;
	border-top-left-radius: 2rem;
	text-align: left;
}

.pokemon-team-results {

	list-style: none;
	border-radius: 1rem;
}


.pokemon-team-results__grid {

	padding: 2rem;
	border-radius: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
	height: 100%;
}

@media only screen and (min-width: 700px) {
	.pokemon-team-results__grid {
		grid-template-columns: 1fr 1fr;
	}
}