.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  border-bottom: 1px solid white;
  min-height: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  padding-bottom: 2rem;
}



.content {
  margin-inline: auto;
  width: min(100% - 2rem, 1000px);
  height: 100vh;
  background-color: white;
}