:root {
  /* Pokemon Go inspired colours */
  --colour-grad-dark: #47837B;
  --colour-grad-light: #75CB9A;
  --colour-btn-green: #96D47F;
  --colour-item-darkgreen: #4C8670;
  --colour-item-blue: #32858D;
  --color-item-darkblue: #3D5E63;
  --colour-item-pink: #DA67A8;
  --colour-offwhite: #f2f7f0;
}

@font-face {
  font-family: "Pokemon";
  src: local("PocketMonk"), url(./assets/fonts/PocketMonk.otf)
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  min-height: 10vmin;
  align-items: center;
  font-size: calc(10px + 1vmin);
  justify-content: center;
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.App-header h1 {
  font-size: calc(10px + 7vmin);
  font-family: Pokemon;
  color: #ffcc03;
  text-shadow:
    5px 5px 2px var(--color-item-darkblue),
    -5px -5px 2px var(--color-item-darkblue),
    5px 4px 5px rgb(0, 0, 0),
    -5px -4px 5px rgb(0, 0, 0);
  -webkit-text-stroke: 1px #3e3bf5;
}



.content {
  margin-inline: auto;
  min-width: min(100% - 1vmin, 1000px);
  background-color: var(--colour-offwhite);
  /* min-height: calc(100vh - 5vmax); */
  min-height: 100vh;
}

/*Temp footer, divide up into sections depending on how much content it'll contain*/
footer {
  color: white;
  background: #282c34;
  min-height: 5vmax;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}