* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.75rem;

}

body::-webkit-scrollbar-track {
  background: #f2f7f0;
}

body::-webkit-scrollbar-thumb {
  background: #3D5E63;
}

/* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/