* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(71, 131, 123);
  background: radial-gradient(circle, rgba(71, 131, 123, 1) 40%, rgba(117, 203, 154, 1) 100%);
  background-image: url("./assets/images/brushed-alum-dark.png"), radial-gradient(circle, rgba(71, 131, 123, 1) 40%, rgba(117, 203, 154, 1) 100%);
}

body::-webkit-scrollbar {
  width: 0.75rem;

}

body::-webkit-scrollbar-track {
  background: #dadada;
}

body::-webkit-scrollbar-thumb {
  background: #282c34;
}

/* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/